# General
.DS_Store
*.log
*.tmp

# IDE / Editor specific
.vscode/
.idea/

# Build artifacts
*.o
*.exe
cipher_gui

# Private files / Vault
# Note: Be careful about committing a vault. Usually, this should be ignored.
# If you want to commit the directory but not its contents, you can add
# a .gitignore inside the vault directory itself.
.private_vault/
private_vault/